.DS_Store
settings.py 
nginx.conf
.idea/
common.js

__pycache__/
*/settings.py
*.pyc
env/
backend-app/static_files/admin/
backend-app/static_files/rest_framework/

node_modules/
coverage/
build/
migrations/
*.local


