/* - > ----------   Custom  ---------- < - */

/* - > Colors < - */
.text-color__black{
    color: #353535;
}
.text-color__white{
    color: #f7f7f7;
}
.background-color__black{
    background-color: #353535;
}
.background-color__white{
    background-color: #f7f7f7;
}

/* - > Header < - */
.headroom-wrapper__max_width {
    max-width: 1600px;
    padding: 12px;
}
.headroom-wrapper{
    height: 82px!important;
}

/* - > Header__logo < - */
.brand-logo__header{
    width: 58px;
}
.brand-logo__black{
    display: inherit;
}
.brand-logo__white {
    display: none;
}
/* - > Footer < - */
.block__footer{
    padding: 8px;
}

/* - > Footer__logo < - */
.brand-logo__footer{
    width: 35px;
}

/* - > Slide_menu_btn < - */
.bm-burger-button {
    position: relative;
    float: right;
    width: 34px;
    height: 30px;
    left: -10px;
    top: 15px;
}
.bm-burger-button__top {
    position: absolute;
    height: 15%;
    left: 0px;
    right: 0px;
    top: 0%;
    opacity: 1;
}
.bm-burger-button__middle {
    position: absolute;
    height: 15%;
    left: 0px;
    right: 0px;
    top: 40%;
    opacity: 1;
}
.bm-burger-button__bottom {
    position: absolute;
    height: 15%;
    left: 0px;
    right: 0px;
    top: 80%;
    opacity: 1;
}
.bm-burger-button__btn {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    opacity: 0;
    font-size: 8px;
    cursor: pointer;
}
.bm-cross {
  background: #f7f7f7;
}
.burger-button__color{
    background-color: #353535;
}

/* - > Site_langBtnGroup < - */
.btn-group__lang{
    float: right;
    right: 32px;
    top: 13px;
}
.btn__lang:hover, .btn__lang:focus{
    border-color: #353535;
    background: none;
    outline: 0;
}


/* - > Slide_menu_block < - */
.bm-menu-wrap, .bm-overlay {
    position: absolute;
    top: 0;
}
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}
.bm-menu {
    font-size: 1.15em;
}
.bm-morph-shape {
    fill: #373a47;
}
.bm-item-list {
    padding: 0 15px 0 15px;
}
.bm-vertical-menu {
    padding: 100px 20px 10px 20px;
}
.nav-pills > li {
    float: none;
}
.slide-menu a{
    color: #f7f7f7;
    font-size: 22px;
}

/* - > Intro_Block < - */
.a-enter-vr-button{
    display: none;
}
.intro-block__margin{
    margin-top: -82px;
}
.intro-block{
    position: absolute;
    top: 35%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.intro-block__h1{
    font-weight: 800;
    font-size: 120px;
    user-select: none;
}
.intro-block__h2{
    font-size: 40px;
    margin-top: -12px;
    margin-left: 5px;
    user-select: none;
}

/* - > Contact_Block < - */
.block__contact{
    margin-top: 80px;
    margin-bottom: 80px;
}

/* - > Other < - */
.no-padding{
    padding: 0;
}
.text-center{
    text-align: center;
}
.full-screen-height{
    height: 100vh;
    min-height: 450px;
}
.link-default__white,
.link-default__white:hover{
    color: #f7f7f7;
}
.block__h2{
    font-size: 64px;
    font-weight: 800;
}
.block__container{
    padding-top: 48px;
    padding-bottom: 48px;
}







/* - > ----------   ReInit  ---------- < - */
body{
    font-family: 'Play', sans-serif;
}
.btn{
    border: 1px solid transparent;
    border-radius: 0px;
    background: none;
    box-shadow: none;
    text-shadow: none;
}
.nav > li > a:focus, .nav > li > a:hover{
    background: none;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
.form-control{
    box-shadow: none;
    text-shadow: none;
    border-radius: 0px;
    border: 1px solid #bfbfbf;
}
.form-control:focus{
    border-color: #353535;
    box-shadow: none;
}
textarea {
    resize: vertical;
}











/* - > ----------  Adaptive ---------- < - */
@media (min-width: 600px) {
    .intro-block{
        width: 920px;
    }
}
@media (max-width: 1150px) {
    .intro-block{
        width: 770px;
    }
    .intro-block__h1{
        font-size: 100px;
    }
    .intro-block__h2{
        font-size: 36px;
    }
}
@media (max-width: 860px) {
    .intro-block{
        width: 620px;
    }
    .intro-block__h1{
        font-size: 80px;
    }
    .intro-block__h2{
        font-size: 34px;
    }
}
@media (max-width: 640px) {
    .intro-block{
        width: 475px;
    }
    .intro-block__h1{
        font-size: 60px;
    }
    .intro-block__h2{
        font-size: 30px;
        margin-left: 0px;
    }
}
@media (max-width: 540px) {
    .headroom{
        background-color: rgba(0, 0, 0, .7);
    }
    .brand-logo__black{
        display: none;
    }
    .brand-logo__white {
        display: inherit;
    }
    .btn__lang{
        color: #f7f7f7;
    }
    .btn__lang:hover, .btn__lang:focus{
        color: #f7f7f7;
        border-color: #f7f7f7;
    }
    .burger-button__color{
        background-color: #f7f7f7;
    }
    .intro-block{
        width: 400px;
    }
    .intro-block__h1{
        font-size: 50px;
    }
    .intro-block__h2{
        font-size: 28px;
    }
}
@media (max-width: 440px) {
    .intro-block{
        width: 330px;
    }
    .intro-block__h1{
        font-size: 40px;
    }
    .intro-block__h2{
        font-size: 24px;
    }
}
@media (max-width: 350px) {
    .intro-block{
        width: 270px;
    }
    .intro-block__h1{
        font-size: 30px;
    }
    .intro-block__h2{
        font-size: 18px;
    }
}